# file

## local
*/build/*
*/backup/*
*/dataset/*
!code/dataset/dataset.py
!code/*/foo.txt
CSAE 2020/*
!CSAE 2020/foo.txt
*/dataset/*
!*/dataset/dataset.py

## global
try.py
*.zip
*.rar
*.7z

# folder

## global
__pycache__/
.vscode/
build/
backup/

## local
